In [1]:
import pandas as pd

In [18]:
candidateDf = pd.read_excel("data/CandidateInformation.xlsx")
companyDf = pd.read_excel("data/CompanyInformation.xlsx")

In [19]:
candidateDf

,candidateName,candidateSignature,candidateAddress,location,designation,basic,bonus,hra,medicalAllowance,otherFixedAllowance,pfEmployee,pfEmployer,totalFixedCash,totalCtcPerMonth,totalCtcPerYear,totalFixedCompensation,offerDate
0,Subhankar Karmakar,candidateSignature2.png,NaN,Jaipur,Associate,800000,800000,0,800000,800000,800000,800000,800000,800000,800000,800000,2022-09-01
1,Ayush Garg,candidateSignature2.png,NaN,Jaipur,Consultant,1600000,1600000,1600000,1600000,1600000,1600000,1600000,1600000,1600000,1600000,1600000,2018-10-23

In [22]:
for i in candidateDf.columns:
    print(i,candidateDf[i].dtype)

candidateName object
candidateSignature object
candidateAddress float64
location object
designation object
basic int64
bonus int64
hra int64
medicalAllowance int64
otherFixedAllowance int64
pfEmployee int64
pfEmployer int64
totalFixedCash int64
totalCtcPerMonth int64
totalCtcPerYear int64
totalFixedCompensation int64
offerDate datetime64[ns]

In [18]:
    numeric_context = {
        column_header: candidateDf.loc[0, column_header]
        for column_header in candidateDf.columns
        if candidateDf[column_header].dtype == "int64"
    }

    numeric_context

{'basic': 800000,
 'bonus': 800000,
 'hra': 0,
 'medicalAllowance': 800000,
 'otherFixedAllowance': 800000,
 'pfEmployee': 800000,
 'pfEmployer': 800000,
 'totalFixedCash': 800000,
 'totalCtcPerMonth': 800000,
 'totalCtcPerYear': 800000,
 'totalFixedCompensation': 800000}

In [ ]:
candidateDf.loc[100, 'offerDate'].to_pydatetime()
# pd.Timestamp().to_pydatetime()

In [ ]:
df = pd.read_excel("CandidateInformation.xlsx",index_col="candidateName")

In [ ]:
df

In [ ]:
df.loc['Subhankar Karmakar','location']

In [ ]:
companyDf = pd.read_excel("CompanyInformation.xlsx",index_col='companyName')

In [ ]:
companyDf

In [ ]:
def date_suffix(day: int) -> str:
    """

    Args:
        day (int): Day of a month

    Returns:

    Raises:
        ValueError
    """
    if 1 <= day <= 31:
        if 1 <= day % 10 <= 3:
            suffix = ["st", "nd", "rd"][(day % 10) - 1]
        else:
            suffix = "th"
        return suffix
    else:
        raise ValueError("Day is out of range, should be between 1 and 31 inclusive")

In [ ]:
date_suffix(31)

In [4]:
df = pd.DataFrame(
    {
        "candidateName": ["Subhankar Karmakar", "Sachin Tendulkar", "Saurav Ganguly"],
        "offerDate": ["2020-01-01", "2020-01-02", "2020-01-03"],
        "location": ["Bangalore", "Mumbai", "Delhi"],
        "salary": [50000, 60000, 70000],
    }
)

In [5]:
df

        candidateName   offerDate   location  salary
0  Subhankar Karmakar  2020-01-01  Bangalore   50000
1    Sachin Tendulkar  2020-01-02     Mumbai   60000
2      Saurav Ganguly  2020-01-03      Delhi   70000

In [15]:
df2 = pd.DataFrame([{
    "companyName": "Test Company Name",
    "companyAddress": "Test Company Address",
    "hrName": "Test HR Name",
    "hrMail": "Test HR Email",
    "salesMail": "Test Sales Email",
    "companyContact": "Test Company Contact",
    "webSiteLink": "Test Company Website",
    "webSiteAlias": "Test Company Website Alias",
    "companyLogo": "Test Company Logo",
}])

In [16]:
df2.set_index('companyName')

,companyAddress,hrName,hrMail,salesMail,companyContact,webSiteLink,webSiteAlias,companyLogo
companyName,,,,,,,,
Test Company Name,Test Company Address,Test HR Name,Test HR Email,Test Sales Email,Test Company Contact,Test Company Website,Test Company Website Alias,Test Company Logo

In [20]:
df3 = pd.DataFrame([
    {
            "candidateName": "Test Candidate Name 1",
            "location": "Test Candidate Location 1",
            "basic": "Test Candidate Basic 1",
            "hra": "Test Candidate HRA 1",
            "offerDate": "2022-09-01",
            "candidateSignature": "Test Candidate Signature 1"
        },
        {
            "candidateName": "Test Candidate Name 2",
            "location": "Test Candidate Location 2",
            "basic": "Test Candidate Basic 2",
            "hra": "Test Candidate HRA 2",
            "offerDate": "2022-09-02",
            "candidateSignature": "Test Candidate Signature 2"
        }
])
df3

,candidateName,location,basic,hra,offerDate,candidateSignature
0,Test Candidate Name 1,Test Candidate Location 1,Test Candidate Basic 1,Test Candidate HRA 1,2022-09-01,Test Candidate Signature 1
1,Test Candidate Name 2,Test Candidate Location 2,Test Candidate Basic 2,Test Candidate HRA 2,2022-09-02,Test Candidate Signature 2

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   candidateName       2 non-null      object
 1   location            2 non-null      object
 2   basic               2 non-null      object
 3   hra                 2 non-null      object
 4   offerDate           2 non-null      object
 5   candidateSignature  2 non-null      object
dtypes: object(6)
memory usage: 224.0+ bytes